
# ----------------------------------------------------------------
# TEMPLATE FOR SECRETS
# Copy this file to 'inventory.ini' and fill in your real values.
# ----------------------------------------------------------------

[vps]
1.2.3.4